.start_screen {
    position: fixed;
    width: 100%;
    margin: 0;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    padding: 0;
    text-align: center; 
    overflow-y: scroll; 
    cursor: pointer;
    top: 0px; 
}

.screen_container {

}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    padding: 0;
    border: 0
}