@font-face {
    font-family: 'Nashville'; 
    font-style: normal; 
    src: url('./fonts/NASHVILL.ttf') format('truetype'); 
}

.toolbar_content {
    font-family: 'Nashville'; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 65px; 
    position: relative; 
    text-align: center; 
    font-size: 25px; 
}
.toolbar_content.ul {
    list-style-type: none;
}